<!DOCTYPE html>
<html lang="es">

	<head>
        {% load static %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}| Oaxaca Hogar Indigena</title>
		<link rel="stylesheet" type="text/css" href="{%static 'core/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{%static 'core/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'core/fonts/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{%static 'core/photostack/photostack.css' %}">
		<script type="text/javascript" src="{% static 'core/photostack/photostack.js' %}">
		</script>
	</head>

	<body>
    <!-- Menu de Navegacion-->
        <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Culturas Indigenas</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'culture_list' %}">Culturas</a>
                    </li>
                    <li>
                        <a href="#">Media</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li>
                        <a href="#">Equipo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- ///// Contenido ///// -->
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <!-- Pie De Pagina -->
      <footer>
        <div class="container">
            <div class="row mt presentation">
              <h1 class="centered">Que Es Este Sitio Web?</h1>
              <hr>

              <div class="col-lg-4 col-md-4">
                <h3>Enciclopedia Digital de Culturas Indigenas</h3>
              </div>

              <div class="col-lg-4 col-md-4">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
              </div>

              <div class="col-lg-4 col-md-4">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.
                Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
              </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'core/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'core/js/bootstrap.min.js' %}"></script>
	</body>
</html>
