    {% extends 'core/base.html' %}
    {% block title %}Oaxaca Hogar Indigena{% endblock %}
    {% block content %}
        {% load static %}
        <section id="photostack-1" class="photostack photostack-start">
        <div>
          <figure>
            <a href="#" class="photostack-img"><img src="{% static 'core/img/ImgT0.jpg' %}" alt="IMG_XD"/></a>
            <figcaption>
              <h2 class="photostack-title">Imagen No. 0</h2>
            </figcaption>
          </figure>

          <figure>
            <a href="#" class="photostack-img"><img src="{% static 'core/img/ImgT1.jpg' %}" alt="IMG_XD"/></a>
            <figcaption>
              <h2 class="photostack-title">Imagen No. 1</h2>
            </figcaption>
          </figure>

          <figure>
            <a href="#" class="photostack-img"><img src="{% static 'core/img/ImgT2.jpg' %}" alt="IMG_XD"/></a>
            <figcaption>
              <h2 class="photostack-title">Imagen No. 2</h2>
            </figcaption>
          </figure>


        </div>
    </section>

        <div class="container">
        <div class="row mt presentation">
          <h1 class="centered">QUE ES ESTE SITIO WEB?</h1>
          <hr>

          <div class="col-lg-4 col-md-4">
            <h3>Enciclopedia Digital de Culturas Indigenas</h3>
          </div>

          <div class="col-lg-4 col-md-4">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
          </div>

          <div class="col-lg-4 col-md-4">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.
            Lorem Ipsum has been the industry's standard dummy text ever since, when an unknown ristique senectus et netus.</p>
          </div>
        </div>
    {% endblock %}