    {% extends 'core/base.html' %}
    {% block title %}Inicio {% endblock %}
    {% block content %}
        {% load static %}
        <section id="photostack-1" class="photostack photostack-start">
        <div>
          <figure>
            <a href="#" class="photostack-img"><img src="{% static 'core/img/ImgT0.jpg' %}" alt="IMG_XD"/></a>
            <figcaption>
              <h2 class="photostack-title">Imagen No. 0</h2>
            </figcaption>
          </figure>

          <figure>
            <a href="#" class="photostack-img"><img src="{% static 'core/img/ImgT1.jpg' %}" alt="IMG_XD"/></a>
            <figcaption>
              <h2 class="photostack-title">Imagen No. 1</h2>
            </figcaption>
          </figure>

          <figure>
            <a href="#" class="photostack-img"><img src="{% static 'core/img/ImgT2.jpg' %}" alt="IMG_XD"/></a>
            <figcaption>
              <h2 class="photostack-title">Imagen No. 2</h2>
            </figcaption>
          </figure>


        </div>
    </section>
    {% endblock %}