{% extends 'core/base.html' %}
{% block title %}Editar Diccionario{% endblock %}
{% block content %}
     <div class="container">
        <textarea id="word" class="form-control mb-2 mt-3" rows="3" placeholder="Escribe la palabra indigena aqui:" >
        </textarea>
         <textarea id="word_translated" class="form-control mb-2 mt-3" rows="3" placeholder="Escribe la palabra en espanol aqui:" >
        </textarea>
        <button id="send" class="btn btn-primary btn-sm btn-block">Agregar</button>
    </div>
    <script>
        document.getElementById('word').value = '';
        document.getElementById('word_translated').value = '';
    </script>
    <script>
        var send = document.getElementById('send');
        //Cuando hacemos click en el boton con el id send
        send.addEventListener("click", function () {
           //Obtenemos las palabras
           var word = encodeURIComponent(document.getElementById('word').value),
               word_translated = encodeURIComponent(document.getElementById('word_translated').value);
           if (word.length > 0 && word_translated.length > 0 ){
               /*Creamos una url, que se va renderizar en la vista
               * mediante Django para hacer una peticion asincrona*/
               const url = "{% url 'dict_add_response'  culture.pk %}" + '?word=' + word + '&word_translated=' + word_translated;
               //Hacemos la peticion asincrona
               fetch(url, {'credentials':"include"}).then(response => response.json()).then(function (data){
                   //Si hay una respuesta por parte del servidor
                   if (data.word){
                       document.getElementById('word').value = 'Datos enviados correctamente';
                       document.getElementById('word_translated').value = 'Datos enviados correctamente';
                   }
               })
           }
        });
    </script>
{% endblock %}