{% extends 'core/base.html' %}
{% block title %}Editar Diccionario{% endblock %}
{% block content %}
     <div class="container">
         <a href="{% url 'dict_detail' culture.pk %}"><button class="btn btn-primary">Ir al diccionario</button></a>
        <textarea id="word" class="form-control mb-2 mt-3" rows="3" placeholder="Escribe la palabra indigena aqui:" >
        </textarea>
         <textarea id="word_translated" class="form-control mb-2 mt-3" rows="3" placeholder="Escribe la palabra en español aqui:" >
        </textarea>
        <button id="send" class="btn btn-primary btn-sm btn-block">Agregar</button>
    </div>
    <script>
        document.getElementById('word').value = '';
        document.getElementById('word_translated').value = '';
    </script>
    <script>
        var send = document.getElementById('send');
        {% comment %}
            Cuando hacemos click en el boton con el id send
        {% endcomment %}
        send.addEventListener("click", function () {
            {% comment %}
                Obtenemos las palabras
           {% endcomment %}
           var word = encodeURIComponent(document.getElementById('word').value),
               word_translated = encodeURIComponent(document.getElementById('word_translated').value);
           if (word.length > 0 && word_translated.length > 0 ){
               {% comment %}
                    /*Creamos una url, que se va renderizar en la vista
                     * mediante Django para hacer una peticion asincrona*/
               {% endcomment %}
               const url = "{% url 'dict_add_response'  culture.pk %}" + '?word=' + word + '&word_translated=' + word_translated;
               {% comment %}
               Hacemos la peticion asincrona
               {% endcomment %}
               fetch(url, {'credentials':"include"}).then(response => response.json()).then(function (data){
                   {% comment %}
                    Si hay una respuesta por parte del servidor
                   {% endcomment %}
                   if (data.word){
                       {% comment %}
                        Avisamos al usuario que se han puesto los datos correctamente.
                       {% endcomment %}
                       document.getElementById('word').value = 'Datos enviados correctamente';
                       document.getElementById('word_translated').value = 'Datos enviados correctamente';
                   }else{
                       document.getElementById('word').value = 'La palabra ya existe o ha ocurrido algun error';
                       document.getElementById('word_translated').value = 'La palabra ya existe o ha ocurrido algun error';
                   }
               })
           }
        });
    </script>
{% endblock %}